<div class="row">
  <div class="col-md-8">
    <h5><%= group.name %></h5>
  </div>
  <div class="col-md-2">
    <%= link_to '<h2><i class="bi bi-person-plus-fill"></i></h2>'.html_safe, group_add_user_path(group), class: "a_group" %>
  </div>
  <div class="col-md-2">
    <%= link_to '<h2><i class="bi bi-person-x"></i></h2>'.html_safe, group, method: :delete, data: { confirm: "Are you sure?" } %>
  </div>
</div>
<hr/>
