<div>
    <h1>Groups</h1>
</div>


<%= render 'form' %>
<div class="row col-md-12 m-3 mt-5">
    <div class="row col-md-3 ">
        <table class="table text-center ">
            <thead class="table-dark">
                <tr>
                    <th colspan="3">My Groups</th>
                </tr>
            </thead>

            <% for group in @groups %>
            <tr>
                <td><%= group.name %></td>
                <td><%= link_to "Add", group_add_user_path(group), class: "a_group" %>
                </td>
                <td>
                    <%= link_to "delete", group_path(group), method: :delete, data: {confirm: "Are you sure?"} %>
                </td>
            </tr>
            <% end %>
            

        </table>
    </div>
</div>