<h1>invited people</h1>
<div class="row col-md-12 m-3 mt-5">
    <%  @invited_users.each do |invited_id|%>
        <div class="col-md-2 m-5 " id = <%= invited_id.id %>>
            <img src="<%= invited_id.user.get_image %>"><br>
            <%= invited_id.user.full_name %><br>
            <%= link_to 'Remove', remove_invited_path(@order, invited_id) , remote: true,
            method: :get ,
            data: { confirm: "Are you sure?" } %>
        </div><br>
    <% end %>
</div>