<style>
  .card-custom {
    background-color: #FF5A01;
    color: white;
  }
  .xy{color:white}
</style>

<div class="row">
  <div class="col-sm-6 mb-3 mt-5">
    <div class="card bg-dark">
      <h3>
        <div class="card-header card-custom">Latest Orders</div>
      </h3>
      <div class="card-body">
        <h4><a class="card-text xy" href="">Launch in 18/04/2021</a></h4>
        <br>
        <h4><a class="card-text xy" href="">Breakfast in 18/04/2021</a></h4>
        <br>
        <h4><a class="card-text xy" href="">Launch in 17/04/2021</a></h4>
        <br>
        <h4><a class="card-text xy" href="">Breakfast in 17/04/2021</a></h4>
        <br>
      </div>
    </div>
  </div>

  <div class="col-sm-6 mb-3 mt-5">
    <div class="card bg-dark">
      <h3>
        <div class="card-header card-custom">Friends Activity</div>
      </h3>
      <div class="card-body">
        <h4 class="card-text xy">Ahmed has created <a class="card-text xy" href=""> an order </a>for launch </h4>
        <br>
        <h4 class="card-text xy">Ahmed has created <a class="card-text xy" href=""> an order </a>for launch </h4>
        <br>
        <h4 class="card-text xy">Ahmed has created <a class="card-text xy" href=""> an order </a>for launch </h4>
        <br>
        <h4 class="card-text xy">Ahmed has created <a class="card-text xy" href=""> an order </a>for launch </h4>
        <br>
      </div>
    </div>
  </div>
</div>
